:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #fb5;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2 rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* DARK THEME VAR*/
.dark-theme-var {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* CLASS CUSTOMIZATION */
/* COLOR */
.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.warning {
  color: var(--color-warning);
}
.success {
  color: var(--color-success);
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

/* SIZING */
a {
  color: var(--color-dark);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}
h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

/* Create separate 3 columns(For sidebar, Main Content, And Forms) */
.container {
  display: grid;
  grid-template-columns: 14rem auto 23rem;
  margin: 0 auto;
  width: 96%;
  gap: 1.8rem;
}

/* =========Sidebar========= */
aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-top: 1.4rem;
  background: var(--color-white);
}

aside .close {
  display: none;
}

aside .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  margin-top: 3rem;
  background: var(--color-white);
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  color: var(--color-info-dark);
  height: 4rem;
  align-items: center;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar .sidebar-bottom a {
  top: 20rem;
  position: relative;
}

/* Switch Active Element */
aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 1rem;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem-3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

/* ========== MAIN SECTION ============= */
main {
  margin-top: 1.4rem;
}

main .month-dropdown select {
  background-color: var(--color-background);
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  border: var(--color-info-light) solid 1px;
  width: 10rem;
  border-radius: var(--border-radius-2);
  color: var(--color-dark);
}

/* Card Insight */
main .insight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

main .insight > div {
  background: var(--color-white);
  padding: var(--card-padding);
  margin-top: 1rem;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .insight > div:hover {
  box-shadow: none;
}

main .insight > div.balance span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
main .insight > div.income span {
  background: var(--color-success);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}
main .insight > div.expenses span {
  background: var(--color-danger);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .insight .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .insight h3 {
  font-size: 1rem;
}

main .insight h1 {
  margin-top: 1rem;
  font-size: 2rem;
}

main .insight small {
  display: block;
  margin-top: 1.5rem;
}

/* ====== Transaction Table ======= */
main .transaction-table {
  margin-top: 2rem;
}

main .transaction-table h2 {
  margin-bottom: 1rem;
}

main .transaction-table table {
  width: 100%;
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  text-align: center;
  box-shadow: var(--box-shadow);
}

main .transaction-table table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main .transaction-table table tbody td a {
  display: inline-block;
  margin: auto 0.5rem;
}

main .transaction-table table tbody td a span {
  font-size: 1.5rem;
}

main .transaction-table table tbody td a.delete {
  color: var(--color-danger);
}

main .transaction-table a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: var(--color-primary);
}

/*========== Right Side ============*/
.right-side .top button {
  display: none;
}

.right-side .profile-photo {
  background: lightblue;
  border: var(--color-danger) solid 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.right-side {
  margin-top: 1.4rem;
}

.right-side .top {
  display: flex;
  gap: 2rem;
  justify-content: end;
}

.right-side .top .theme-toggler {
  display: flex;
}

.right-side .top .theme-toggler {
  display: flex;
  height: 1.6rem;
  width: 4.2rem;
  background: var(--color-light);
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-1);
  cursor: pointer;
}

.right-side .top .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side .top .theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}

.right-side .top .account-info {
  display: flex;
  text-align: right;
  gap: 2rem;
}

.right-side .add-new-transaction {
  margin-top: 2rem;
}

.right-side .add-new-transaction h2 {
  margin-bottom: 1rem;
}

.right-side .add-new-transaction .add-transaction div {
  display: flex;
  border: 2px dashed var(--color-primary);
  padding: 1.4rem var(--card-padding);
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--color-primary);
  gap: 0.7rem;
  transition: all 300ms ease;
}

.right-side .add-new-transaction .add-transaction div:hover {
  background: var(--color-primary);
  color: white;
}

/* Form Styling */
.right-side .transaction-form {
  transition: all 300ms ease;
}

.right-side .transaction-form.hide {
  visibility: hidden;
  opacity: 0;
}

.right-side .transaction-form {
  margin-top: 2rem;
}

.right-side .transaction-form ul.form-style li {
  display: block;
  list-style: none;
  margin-top: 1rem;
  padding: 0;
}

.right-side .transaction-form ul.form-style label {
  display: block;
  font-weight: 600;
}

.right-side .form-style input[type="text"],
.right-side .form-style input[type="date"],
.right-side .form-style input[type="datetime"],
.right-side .form-style input[type="number"],
.right-side textarea,
select {
  background: var(--color-white);
  font-family: poppins, sans-serif;
  border: 1px solid var(--color-info-light);
  border-radius: var(--border-radius-2);
  padding: 0.5rem;
  transition: all 300ms ease-in-out;
  outline: none;
}

.right-side .form-style input[type="text"]:focus,
.right-side .form-style input[type="date"]:focus,
.right-side .form-style input[type="datetime"]:focus,
.right-side .form-style input[type="number"]:focus,
.right-side .form-style textarea:focus,
.right-side .form-style select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.right-side .form-style .field-long {
  width: 100%;
}

.right-side .form-style .field-textarea {
  height: 5rem;
  resize: none;
}

.right-side .form-style input[type="submit"] {
  background: var(--color-primary);
  padding: 8px 15px;
  border: none;
  color: var(--color-white);
  border-radius: var(--border-radius-2);
}

.right-side .form-style input[type="submit"]:hover {
  background: var(--color-primary-variant);
  box-shadow: none;
}

.right-side .form-style .required {
  color: red;
}
